  <connectionStrings>
    <add name="DefaultConnection"
   connectionString="Data Source=ORELLDO-PC\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=true"
   providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultConnection"
   connectionString="Data Source=.;Initial Catalog=Chinook;Integrated Security=true"
   providerName="System.Data.SqlClient"/>
    
    <add name="ChinookDB"
       connectionString="Data Source=.;Initial Catalog=Chinook;Integrated Security=true"
       providerName="System.Data.SqlClient"/
       
       LAPTOP-SHEILA
       >-->
    <add name="ChinookDB"
   connectionString="Data Source=ORELLDO-PC\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=true"
   providerName="System.Data.SqlClient"/>
  </connectionStrings>
